.meetVideoContainer{
    position: relative;
    height: 100vh;
    background-color: rgb(1, 1, 6);
}

.meetUserVideo{
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border: 3px solid black;
    border-radius: 20px;

}

.buttonContainers{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg{
    font-size: 1.8rem;
}

.conferenceView{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.conferenceView > video{
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}


.chatRoom{
    z-index: 1;
    position: absolute;
    height: 100vh;
    right: 0;
    background-color: white;
    /* border-radius: 10px; */
    width: 30vw;
    padding-inline: 20px; ;
}

.chatData{
    width:100%;
    color: red;
}

.chatContainer{
    position: relative;
    height: 100%;
}

.chattingArea{
    position: absolute;
    bottom: 0;
}

.chattingDisplay{
    height:85vh;
    overflow-y:scroll;
    overflow-x:hidden;
}

.you{
    top:0;
    left: 2rem;
    font-size: 2rem;
    color: black;
    background-color: wheat;
}